.io-AddForm {
  display: flex;
  pointer-events: none;
  flex: 0 0 0;
  overflow: hidden;
  align-items: center;
  /*Context for the label*/
  position: absolute;
  top: 0;
  left: 100%;
  right: 0;
  /* Needed for iOS */
  min-width: 0;
  transition: all 0.2s;
  [data-addform-exposed="true"] & {
    flex: 1 1 auto;
    pointer-events: auto;
    left: 0;
  }
}

.io-AddForm_Input {
  display: flex;
  align-items: flex-end;
  flex: 1 1 auto;
  height: 44px;
  font-size: 21px;
  padding: 8px 15px 0;
  border-radius: 23px;
  border: 1px solid #f5a623;
  caret-color: #f5a623;
  transition: background-color 0.2s;
  &:focus {
    outline: 0;
    background-color: #fcfcfc;
  }
}

.io-AddForm_Label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  color: #888;
  font-size: 16px;
  transition: transform 0.2s, color 0.2s;
  transform-origin: 0 0;
  /*Using valid and required attribute is genius. From: https://stackoverflow.com/a/16956610/1147859*/
  .io-AddForm_Input:focus + &,
  [data-io-input="filled"] + & {
    transform: translateY(-18px) scale(0.6);
  }
  [data-io-duplicate-name] & {
    color: $color-delete !important;
  }
}

.io-AddForm_DoneBtn {
  display: flex;
  flex: 0 1 auto;
  padding: 8px 11px;
  justify-content: center;
  background-color: #f90;
  align-self: stretch;
  font-size: 0.8rem;
  color: #999;
  /*text-decoration: underline;*/
}
