.io-Count {
    /* color: #222; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: #fff;
    /*box-shadow: 3px 0 0 #333;*/
    [data-io-count-update] & {
        animation: ioCount .3s 1 ease-in-out;
    }
    &:empty {
        opacity: 0;
    }
}

@keyframes ioCount {
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: none;
    }
}
