.io-EditBar {
    display: flex;
    position: fixed;
    top: 100px;
    width: 100%;
    z-index: 100;
    font-size: 0;
    align-items: center;
    flex: 0 0 auto;
    background-color: #efefef;
    border-bottom: 1px solid #e4e4e4;
    transition: background-color 0.2s;
    box-shadow: #000 0 0px 24px -8px;
    [data-editing-players="true"] &,
    [data-adding-player="true"] & {
        background-color: #3a3a3a;
    }
}

.io-EditBar_SplitContainer {
    position: relative;
}

.io-EditBar_Btn {
    color: #888;
    font-size: 11px;
    height: 40px;
    display: inline-flex;
    /* min-width: 90px; */
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    /* margin: 10px 0; */
    border-radius: 18px;
    /* background-color: #e4e4e4; */
    transition: color 0.2s;
    /* border: 1px solid #ddd; */
    [data-editing-players="true"] &,
    [data-adding-player="true"] & {
        color: #eeeeee;
    }
}

.io-EditBar_BtnSplit,
.io-EditBar_BtnEdit {
    [data-editing-players="true"] &,
    [data-adding-player="true"] & {
        display: none;
    }
}

.io-EditBar_BtnEdit {
    [data-roster-count="0"] & {
        display: none;
    }
}

.io-EditBar_BtnSplit {
    [data-io-count="0"] &,
    [data-io-count="1"] & {
        display: none;
    }
}

.io-EditBar_Cancel {
    margin-left: auto;
}

.io-EditBar_Cancel,
.io-EditBar_Save {
    display: none;
    [data-editing-players="true"] &,
    [data-adding-player="true"] & {
        display: inline-flex;
    }
}

.io-EditBar_Save {
    /* [data-io-duplicate-name] & {
        opacity: 0;
        pointer-events: none;
    } */
}

.io-EditBar_Splits {
    position: absolute;
    z-index: 30;
    top: 100%;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    display: flex;
    background-color: #222;
    flex-direction: column;
    border-radius: 2px;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
    transform: translateY(-10px);
    [data-splitteam-showing="true"] & {
        opacity: 1;
        pointer-events: auto;
        transform: none;
    }
    &:after {
        content: "";
        display: block;
        left: calc(50% - 5px);
        width: 0;
        position: absolute;
        bottom: 100%;
        height: 0;
        border-style: solid;
        border-width: 0 5px 5px 5px;
        border-color: transparent transparent #222 transparent;
    }
}

.io-ClickMask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
}

.io-EditBar_SVG {
    margin-left: 5px;
    fill: #bbb;
}

.io-EditBar_SaveTick {
    margin-left: 5px;
    stroke: #efac27;
}

.io-EditBar_CancelCross {
    margin-left: 5px;

    fill: #efac27;
}

.io-EditBar_Add {
    margin-left: auto;
    [data-editing-players="true"] &,
    [data-adding-player="true"] & {
        display: none;
    }
}

.io-EditBar_AddSVG {
    margin-left: 5px;
    [data-roster-count="0"] & {
        animation: ioPulse 0.5s alternate infinite linear;
    }
}

@keyframes ioPulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}
