.io-HeaderAndEventLoader {
    background-color: #f0f0f0;
}

.io-EventLoader {
    position: absolute;
    top: 100%;
    margin-top: 5px;
    z-index: 100;
    width: 100%;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
    transform: translateY(-10px);
    [data-evswitcher-showing="true"] & {
        opacity: 1;
        pointer-events: auto;
        transform: none;
    }
}

.io-EventLoader_Slats {
    background-color: #222;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.io-EventLoader_Slat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    padding: 0 10px;
    position: relative;
}

.io-EventLoader_Item {
    font-size: 16px;
    color: #ddd;
    border-bottom: 1px dashed transparent;
    transition: border 0.1s;
    &[contenteditable="true"] {
        border-bottom: 1px dashed #f9ae27;
    }
}

.io-EventLoader_Radio {
    height: 19px;
    width: 19px;
    border-radius: 50%;
    border: 1px solid #fff;
    box-shadow: none;
    transition: all 0.2s;
    background-color: transparent;
    &:checked {
        background-color: #fff;
        box-shadow: inset 0 0 0 1px #000;
    }
    [data-editing-events="true"] & {
        opacity: 0;
        pointer-events: none;
    }
}

.io-EventLoader_EditGroup {
    display: flex;
    background-color: #000;
    justify-content: space-between;
    overflow: hidden;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.io-EventLoader_EditBtn {
    display: inline-flex;
    padding: 0 10px;
    height: 40px;
    align-items: center;
    font-size: 11px;
    color: #efac27;
    [data-editing-events="true"] & {
        display: none;
    }
}

.io-EventLoader_SaveBtn {
    font-size: 11px;
    color: #fff;
    display: none;
    padding: 0 10px;
    height: 40px;
    align-items: baseline;
    [data-editing-events="true"] & {
        display: inline-flex;
    }
}

.io-EventLoader_CancelBtn {
    font-size: 11px;
    color: #fff;
    display: none;
    padding: 0 10px;
    height: 40px;
    align-items: baseline;
    [data-editing-events="true"] & {
        display: inline-flex;
    }
}

.io-EventLoader_SaveTick {
    margin-left: 5px;
}

.io-EventLoader_CancelCross {
    margin-left: 5px;
}

.io-EventLoader_DeleteBtn {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    top: 0;
    right: 0;
    width: 40px;
    height: 45px;
    background-size: 20px auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: inline("img/trash-white.svg");
    transition: opacity 0.2s;
    [data-editing-events="true"] & {
        opacity: 1;
        pointer-events: auto;
    }
}

.io-EventLoader_DeleteSlat {
    display: none;
}