.io-HeaderAndEventLoader {
    position: sticky;
    top: 0;
    z-index: 110;
}

.io-Header {
    position: relative;
    display: flex;
    background: url("img/HeaderBG.svg") 50% 50%, linear-gradient(225deg, #fbd249 0%, #f5a623 100%);
    height: 100px;
    align-items: center;
}

.io-Header_Left {
    position: relative;
    display: flex;
    flex: 1 0 70%;
    margin: 0 10px;
}

.io-Header_EventBtn {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
    background-color: color(#de8e0e a(0.4));
    border-radius: 23px;
    width: 100%;
    height: 50px;
    transition: border-radius 0.2s, opacity 0.2s;
    [data-evswitcher-showing="true"] & {
        border-radius: 2px;
    }
}

.io-Header_EventDownArrow {
    position: absolute;
    right: 10px;
    transition: transform 0.2s;
    [data-evswitcher-showing="true"] & {
        transform: rotate(180deg);
    }
}

.io-Header_EventBtnTitle {
    color: #fff;
    font-size: 16px;
}

@keyframes ioCount {
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: none;
    }
}

.io-Header_EventBtnInText {
    font-size: 0.8em;
    margin-left: 0.5ch;
}
