$color-delete: #b92e22;
$color-paid: #a3b922;
$color-white: #fff;
$color-orange: #f90;

:root {
    --toolsX: "";
    --toolsY: "";
    --duration: "";
}

html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    &[data-adding-player="true"] {
        position: fixed;
        overflow: hidden;
        -webkit-overflow-scrolling: auto;
    }
}

body {
    font-family: "Exo 2", system-ui, apple-system, "Helvetica Neue", "Roboto", "Ubuntu", sans-serif;
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: #f4f4f4;
    [data-adding-player="true"] & {
        position: fixed;
        overflow: hidden;
        -webkit-overflow-scrolling: auto;
    }
}

.io-InOut {
    box-sizing: border-box !important;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.io-InOut_Credits {
    font-size: 0.6rem;
    color: #777;
    line-height: 1.5;
    padding: 0 10vw;
    text-align: center;
    margin: 15px 0 65px;
}

.io-InOut_CreditsLink {
    color: #f90;
    text-decoration: underline;
}

input[type="file" i] {
    font-size: 1rem;
    display: inline-flex;
    flex: 1 1 50px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: right !important;
}

.io-ClickMask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    [data-io-onboard="true"] & {
        background-color: color(#fff a(0.5));
        z-index: 110;
    }
}
