$color-delete: #b92e22;
$color-paid: #a3b922;
$color-white: #fff;

:root {
    --toolsX: "";
    --toolsY: "";
    --duration: "";
}

html {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    display: flex;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    /* [data-io-tools-exposed="true"] & {
        filter: blur(3px);
    } */
}

.io-InOut_Group {
    transition: filter .2s;
    [data-io-tools-exposed="true"] & {
        filter: blur(3px);
    }
}

.io-InOut {
    box-sizing: border-box !important;
    display: flex;
    flex-direction: column;
    font-family: 'Exo 2', sans-serif;
    width: 100%;
    position: relative;
}

input[type="file" i] {
    font-size: 1rem;
    display: inline-flex;
    flex: 1 1 50px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: right !important;
}

.io-Slats_Wrapper {
    position: relative;
    transition: transform .4s;
}
