.io-Masthead {
    position: relative;
    padding: 20px;
    display: inline-flex;
    flex: 0 1 auto;
}

.io-Masthead_ToolsBtn {
    z-index: 100;
    display: block;
    height: 40px;
    width: 40px;
    position: fixed;
    top: 65vh;
    right: 50px;
    border-radius: 50%;
    background-color: $color-orange;
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: -2px;
        left: -2px;
        border-radius: 50%;
        border: 1px solid #f90;
        height: 44px;
        width: 44px;
        background-color: transparent;
    }
}

.io-Masthead_Logo {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
}

.io-Masthead_LogoSvg {
    height: 55px;
}