.io-Slats {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fff;
}

.io-Slat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #777;
    height: 45px;
    overflow: hidden;
    padding: 0 10px;
    position: relative;
    width: 100%;
    transform: none;
    transition: height 0.2s;
    box-shadow: inset 0 -1px 0 0 #eee;
    &[data-io-slat-in="true"] {
        background-color: #fff;
    }
    [data-editing-players="true"] & {
        &:after {
            display: none;
        }
    }
    &:after {
        font-size: 12px;
        height: 25px;
        width: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 40px;
        color: #222;
        opacity: 1;
        content: attr(data-io-slat-team);
    }
    /*Don't allow clicks on a slat to do anything if in the middle of a move*/
    [data-io-slat-moving="true"] & {
        transition: transform var(--duration);
        pointer-events: none;
    }
    /* Don't want to see the team numbers when slats move */
    [data-io-slat-moving="true"] &:after {
        animation: fader var(--duration) forwards;
    }
    [data-loading-slats="true"] & {
        opacity: 0;
        animation: nameIn linear 0.3s var(--delay) forwards;
    }
}

.io-Slat_Name {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 50px;
    border-bottom: 1px solid transparent;
    &[contenteditable="true"] {
        border-bottom: 1px dashed #f90;
    }
    &:focus {
        outline: 0;
        caret-color: #f9ae27;
    }
}

@keyframes nameIn {
    0% {
        transform: translate3d(-10px, -5px, 0);
        opacity: 0;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}

@keyframes fader {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/*The first slat that isn't in*/
[data-io-slat-in="false"] {
    background-color: #fafafa;
    color: #ccc;
    box-shadow: inset 0 -1px 0 0 #e4e4e4 !important;
    [data-editing-players="true"] & {
        background-color: #fff;
        color: #777;
    }
}

.io-Slat_DeleteSlat {
    transition: height 0.2s;
    height: 0;
}

.io-Slat_Delete {
    position: absolute;
    left: 100%;
    margin-left: -44px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    height: 44px;
    width: 44px;
    color: $color-white;
    background-image: url("img/trash_bg.svg");
    background-size: 20px auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.35s;
    [data-editing-players="true"] & {
        opacity: 1;
        pointer-events: auto;
    }
}

.io-Slat_DeleteMask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/*This creates a highlight colour for each team*/
[data-io-slat-team="1"] {
    &:after {
        border: 2px solid color(#40dfff a(0.5));
    }
}

[data-io-slat-team="2"] {
    &:after {
        border: 2px solid color(#cca814 a(0.5));
    }
}

[data-io-slat-team="3"] {
    &:after {
        border: 2px solid color(#99873d a(0.5));
    }
}

[data-io-slat-team="4"] {
    &:after {
        border: 2px solid color(#f90 a(0.5));
    }
}

.io-Slat_Temp {
    overflow: visible;
    animation: growSlat 0.2s forwards linear;
    position: fixed;
    top: 140px;
    left: 0;
    right: 0;
}

.io-Slat:not(.io-Slat_Temp) {
    [data-adding-player="true"] & {
        opacity: 0;
        pointer-events: none;
    }
    [data-adding-player="false"] & {
    }
}

@keyframes flyOut {
    0% {
        transform: none;
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes growSlat {
    0% {
        height: 0;
    }
    100% {
        height: 45px;
    }
}

.io-Slat_AddWarning {
    display: flex;
    right: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 0.7rem;
    padding: 5px 20px;
    color: #222;
    border-radius: 2px;
    border: 1px solid #efac27;
    width: 90%;
    margin: 20px auto;
    max-width: 400px;
    opacity: 0;
    transition: opacity 0.2s;
    [data-io-duplicate-name] & {
        opacity: 1;
    }
}

.io-Slats_ConfirmedHeader {
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid #2491e9;
    z-index: 100;
    position: sticky;
    top: 100px;
    background-color: #fff;
    [data-adding-player="true"] & {
        opacity: 0;
        pointer-events: none;
    }
    [data-editing-players="true"] & {
        position: static;
        z-index: auto;
    }
}

.io-Slats_UnConfirmedHeader {
    transition: transform var(--duration);
    position: relative;
    border-bottom: 1px solid #9b9b9b;
    [data-io-slat-moving="false"] & {
        transition: none;
    }
    [data-adding-player="true"] & {
        opacity: 0;
        pointer-events: none;
    }
}

.io-Slats_Count {
    margin-left: 1ch;
    [data-io-count-update] & {
        animation: ioCount 0.3s 1 ease-in-out;
    }
}

.io-Slats_Header {
    display: inline-flex;
    margin: 15px auto 0 10px;
    flex: 0 0 auto;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    color: #fff;
    height: 30px;
    padding: 0 10px;
    .io-Slats_ConfirmedHeader & {
        background-color: #2491e9;
    }
    .io-Slats_UnConfirmedHeader & {
        background-color: #9b9b9b;
    }
}
