.wi-Slats {
    display: flex;
    flex-direction: column;
    position: relative;
    transition: transform .2s;
    [data-wi-tools-delete-mode="true"] & {
        transform: translateX(44px);
    }
}

.wi-Slat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #777;
    min-height: 44px;
    padding: 0 11px;
    position: relative;
    & + & {
        border-top: 1px solid #eee;
    }
    &[data-wi-slat-in="true"] {
        background-color: #f9f9f9;
    }
    &:after {
        font-size: 11px;
        height: 14px;
        width: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: #ddd;
        content: attr(data-wi-slat-team);
    }
}

/*The first slat that isn't in*/
[data-wi-slat-in="false"] {
    [data-wi-slat-in="true"] + & {
        border-top: 5px double #f1f1f1;
        margin-top: 22px;
    }
}

.wi-Slat_Delete {
    position: absolute;
    right: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    height: 44px;
    width: 44px;
    color: $color-white;
    background-color: $color-delete;
}

.wi-Slat_Action {
    position: absolute;
    left: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    height: 44px;
    width: 100px;
    border: 3px solid $color-paid;
    background-color: transparent;
    transition: transform .2s;
    color: $color-white;
    [data-wi-tools-paid-mode="true"] & {
        transform: translateX(-100px);
    }
}

/*This creates a highlight colour for each team*/
[data-wi-slat-team="1"] {
    &:after {
        background-color: #9E0A12;
    }
}

[data-wi-slat-team="2"] {
    &:after {
        background-color: #244686;
    }
}

[data-wi-slat-team="3"] {
    &:after {
        background-color: #f90;
    }
}

[data-wi-slat-team="4"] {
    &:after {
        background-color: #9EB912;
    }
}
