.io-Tools {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 50px;
    z-index: 10;
    position: relative;
}

.io-Tools_Menu {
    width: 200px;
    position: absolute;
    z-index: 30;
    bottom: 100%;
    left: 50%;
    margin-left: -100px;
    display: flex;
    background-color: #222;
    flex-direction: column;
    border-radius: 2px;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
    transform: translateY(10px);
    [data-toolsmenu-showing="true"] & {
        opacity: 1;
        pointer-events: auto;
        transform: none;
    }
}

.io-Tools_MenuSlat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    color: #ddd;
    height: 45px;
    padding: 0 10px;
    position: relative;
    & + &,
    .io-Tools_LoadInput + & {
        border-top: 1px solid #111;
    }
}

.io-Tools_ClickMask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.io-Tools_BtnAbout {
    padding: 10px 0 10px 30px;
    display: flex;
    min-height: 40px;
    align-items: center;
    justify-content: center;
    color: #888;
}

.io-Tools_LoadInput {
    display: none !important;
}

.io-Tools_LoadSaveBtn {
    padding: 10px 0;
    display: flex;
    min-height: 40px;

    align-items: center;
    justify-content: center;
    color: #888;
}

.io-Tools_IconStorage {
    fill: #888;
    margin-left: 5px;
}

.io-Tools_IconAbout {
    fill: #888;
    margin-left: 5px;
    position: relative;
    top: -1px;
}

.io-Tools_MenuSlat-split3 {
    [data-io-count="2"] & {
        display: none;
    }
}

.io-Tools_MenuSlat-split4 {
    [data-io-count="2"] &,
    [data-io-count="3"] & {
        display: none;
    }
}
